streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
python-dotenv
openai
tiktoken
torch==2.3.0 --index-url https://download.pytorch.org/whl/cpu